.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: #14a800;
    border: solid 1px;
    border-color: #14a800;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .back-to-top-button.visible {
    opacity: 1;
  }
  